

body
{
	font-size: 17px;

}













.Accueil_AproposEns

{
	margin: auto;
	margin-bottom: 500px;
	width: 100%;

}


]




h1

{
	text-align: center;
	width: 100%;
}

h2
{
	color: #bc6c25;
	text-align: center;
}







-